/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

div.whitePage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
  color-scheme: light;
}

.accordion {
  margin: 30px auto;
  text-align: center;
  cursor: pointer;
}
@media print{
  .accordion, .toggleText {
    display: none;
  }
}


table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
table.table th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table {
  position: relative;
}
.table th, .table thead, .table thead tr {
  position: sticky;
  top: 0;
  background-color: white;
}

.table, .table th, .table td, .table tr {
  padding: 0;
  width: fit-content;
  margin: 10px auto;
  vertical-align: middle;
  border: none;
  text-align: left;
}

.table td:not(:last-child), .table th:not(:last-child) {
  padding-right: 0.6em;
}
.table td:first-child {
  padding-left: 0.2em;
}
.table td:last-child {
  padding-right: 0.2em;
}

.table label {
  display: flex;
  align-items: center;
}

img.bp {
  width: 7em;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  img.bp {
    width: 4.5em !important;
  }

  .mobileHidden {
    display: none;
  }
}
.table img {
  vertical-align: middle;
  width: 6.5em;
  margin: 0.2em 0.5em 0.2em 0;
}
.table a {
  color: rgb(0, 104, 132);
}

.checkbox {
  background-color: white;
}

.toggleText {
  cursor: pointer;
  font-weight: normal;
  font-size: 0.5em;
}
